{% extends "layout.html" %}


{%block "pagecontent"%}

{%if blog%}

<div class="blog-container">
 <div class="blog-card">

        <div>
            <img src="{{ blog.blog_image.url }}" alt="">
        </div>

        <div class="blog-content">
            <span>{{ blog.title }}</span>

            <p>{{ blog.description}}</p>

            <small class="creator-name">
               Created By:- {{ blog.user.first_name }} {{ blog.user.last_name }}
            </small>

            <small class="creator-name">
               Create Date :- {{ blog.created_at }}
            </small>

        </div>

    </div>


</div>

{%else%}
<h1>no blogs</h1>
{%endif%}
{% endblock %}