
{% extends "layout.html" %}


{%block "pagecontent"%}

<h2>My Blogs</h2>

<div class="blog-container">

    {% if blogs %}

        {% for blog in blogs %}
        

     <div class="blog-card">

        <div>
            <img src="{{ blog.blog_image.url }}" alt="">
        </div>

        <div class="blog-content">
            <span>{{ blog.title }}</span>

            <p>{{ blog.description}}</p>

            <small class="creator-name">
               Created By:- {{ blog.user.first_name }} {{ blog.user.last_name }}
            </small>

            <small class="creator-name">
               Create Date :- {{ blog.created_at }}
            </small>

        </div>

    </div>

        {% endfor %}

    {% else %}
        <h3>No blogs created by you</h3>
    {% endif %}

</div>

{% endblock %}