{% extends "layout.html" %}


{%block "pagecontent"%}

<div class="blog-container">

{% if blogs %}

    {% for blog in blogs %}

    <div class="blog-card">

        <div>
            <img src="{{ blog.blog_image.url }}" alt="">
        </div>

        <div class="blog-content">
            <span>{{ blog.title }}</span>

            <p>{{ blog.description}}</p>

            <small class="creator-name">
               Created By:- {{ blog.user.first_name }} {{ blog.user.last_name }}
            </small>

        </div>

    </div>

    {% endfor %}

{% else %}

    <h2 class="no-blogs">No Blogs Available</h2>

{% endif %}

</div>

{% endblock %}