{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/main.css' %}">
</head>
<body>
    
  <header>
    <nav>
      <div> 
        <img src="{% static 'images/icon.webp'%}" alt="Logo">
        
      </div>
      <div>
        {% if user.is_authenticated %}
        <a href="add-blogs">Add Blogs</a>
        <a href="all-blogs">All Blogs</a>
        <a href="my-blogs">My Blogs</a>
        <a href="accounts/logout">Logout</a>
        {% else %}
        <a href="/">SignUp</a>
        <a href="accounts/login">Login</a>

        {%endif%}
      </div>
    </nav>
  </header>


  {%block "pagecontent"%}
  
  {%endblock%}
</body>
</html>